# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.log
backend/event.iml
backend/src/main/resources/application.properties
# backend/src/main/resources/application.yml
backend/src/main/resources/application-*.properties
backend/src/main/resources/application-*.yml
backend/.env
backend/.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db
